body {
  margin: 0;
  font-family: 'montserrat', sans-serif;
  background-color: $black;
  color: $white;
}

a {
  display: block;
}

.fa {
  font-size: 36px;
}

.title {
  font-style: italic;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 2.5em;
}

p {
  font-weight: 400;
}

bc-centered-section {
  .container {
    padding-top: 12vh;
    padding-bottom: 12vh;
    text-align: center;

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

header {
  min-height: 100vh;
  background-color: $black;

  h1 {
    font-weight: 200;
  }

  p {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Lora';
    font-size: 1.5em;
    font-style: italic;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }
}

bc-button {
  display: inherit;
  a {
    color: $white;
    padding: 1em 2em;
    border: 1px solid $white;
    text-decoration: none;
    transition: background-color .3s, border .1s;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

bc-zigzag {
  margin: 1em 0;
}

.pre-footer {
  section {
    background-color: $white;
  }

  .container {
    padding: 3em 0;
  }

  a {
    color: $orange;
  }
}

#footer {
  display: none;
  text-align: center;
  font-weight: 300;

  hr {
    margin-top: 0;
  }

  section {
    padding-bottom: 2em;
    background-color: $white;
    color: $black;
  }

  .title {
    text-align: center;
    color: $orange;
    text-decoration: underline;
    margin-bottom: 2em;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: $screen-md-min) {
      flex-direction: column-reverse;
      align-items: center;

      &>* {
        margin-bottom: 1.5em;
      }
    }
  }

  bc-button {
    flex: 1;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
      padding-top: .5em;
      padding-bottom: .5em;
      background-color: $white-dark;
      text-align: center;

      &:hover {
        background-color: transparent;
        color: $white-dark;
        border: 1px solid $white-dark;
      }
    }
  }

  #footer-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $black;
      padding: 0 1em;
      transition: color .2s;

      &:hover {
        color: $white-dark;
      }
    }
  }

  #rights {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
  }
}

.visible {
  display: block !important;
}
