#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 1em 0;
  z-index: 1;

  .brand {
    .big {
      display: none;
      max-width: 50%;
      @media screen and (min-width: $screen-md-min) {
        display: inherit;
      }
    }

    .small {
      display: none;
      @media screen and (max-width: $screen-md-min) {
        display: inherit;
      }
    }
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    height: 70px;
  }

  nav {
    flex-grow: 1;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    flex-grow: 1;
    justify-content: center;

    bc-navlink {
      display: flex;
      justify-content: center;
      align-items: stretch;

      li {
        padding: 0.5em 1em;
        margin: 0 0.25em;
        border: 1px solid transparent;
        list-style: none;
        text-align: center;
        display: flex;
        align-items: center;

        &:hover {
          border: 1px solid $white;
        }

        &.active {
          border: 1px solid $orange;
          a {
            color: $orange;
          }
        }

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

#meet-born {
  color: $white;
  @include background-filter($trans-black, '/assets/img/backgrounds/5.jpg');
}
