#meet-born {
  color: $white;
  @include background-filter($trans-black, '/assets/img/backgrounds/5.jpg');
}

#about-steps {
  background-color: $white;
  color: $black;

  .zigzag {
    fill: $black;
  }
}

#steps {
  background-color: $white;
  color: $black;
  font-family: "Lora";


  @media screen and (min-width: $screen-md-min) {
    display:-webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    bc-step {
      flex: 50%;
      height: 20em;

      #step-1, #step-3 {
        border-right:  1px solid $white-dark;
      }

      #step-1, #step-2 {
        border-bottom: 1px solid $white-dark;
      }
    }
  }

  .step {
    box-sizing: border-box;
    color: $orange;
    height: 100%;

    &:hover {
      background-color: $white-hover;

      hr {
        width: 100%;
      }
    }

    .title {
      font-weight: 400;
      font-size: 1.5em;
    }

    .number {
      color: $orange;
      font-weight: 700;
      font-size: 3em;
    }

    p {
      color: $black;
    }

    hr {
      width: 0;
      border-top: 1px solid $orange;
      transition: width .5s;
      margin-bottom: 0;
      padding-bottom: 2em;
    }
  }
}

#mishu {
  padding: 15vh 0;
  text-align: center;
  background-color: $orange;
  background-image: url("/assets/img/backgrounds/Mishu.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  font-family: "Lora";

  .row {
    @media screen and (min-width: $screen-sm-min) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .author {
    font-style: italic;

    .name {
      font-size: 2.5em;
    }
  }

  q {
    font-size: 1.5em;
  }
}

#we-do {
  background-color: $white;
  color: $black;

  .title {
    color: $orange;
  }

  .zigzag {
    fill: $black;
  }
}

#activities {
  padding: 20vh 0;
  text-align: center;
  font-family: "Lora";

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

    @media screen and (max-width: $screen-sm-min) {
      flex-direction: column;
      align-items: center;
    }
  }

  .title {
    color: $orange;
  }

  .works {
    border: 1px solid $white;
    margin: 3.5em 0;
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 2em;
      position: absolute;
      border: 1px solid $white;
      top: -2.2em;
      z-index: 100;
    }

    ul {
      margin: 1em;
      list-style: inside;
      font-style: italic;

      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      li {
        margin: 0.5em 0;
        width: 50%;
        text-align: left;
      }
    }
  }
}

#home-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 50vw;
  height: 60vw;

  @media screen and (max-width: $screen-md-min) {
    flex-wrap: nowrap;
    height: 100vh;
    .img {
      width: 100% !important;
      height: 33.33vh !important;
    }
  }

  .img {
    background-size: cover;
    background-position: center bottom;
    height: 60vw;

    &.half {
      height: 30vw;
      width: 30%;
    }
  }

  #recio {
    background-image: url("/assets/img/projects/FP3.jpg");
  }

  #day-to-day {
    background-image: url("/assets/img/backgrounds/4.jpg")
  }

  #yazmin-felix {
    height: 60vw;
    width: 70%;
    background-image: url("/assets/img/projects/FP1.jpg");
  }
}

#peter-drucker {
  q {
    font-size: 2em;
    font-family: "Lora";
    font-style: italic;
    margin-bottom: 1em;
  }

  .author {
    font-size: 1.5em;
    color: $orange;
  }
}

#closer-look {
  @include background-filter($trans-black, '/assets/img/backgrounds/1.jpg');
}

#creatives-group {
  @include background-filter($trans-orange, '/assets/img/backgrounds/3.jpg');

  padding: 5em 0;

  p {
    font-size: 2em;
    margin-bottom: 0;
    font-family: 'Lora';
  }
}

#core-values {
  background-color: $white;
  color: $black;

  .section-header {
    margin-bottom: 5em;
  }

  .values {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    @media screen and (max-width: $screen-md-min) {
      flex-direction: column;

      .value {
        border-right: none;
        padding: 0;
      }
    }
  }

  .value {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 0 1em;
    border-right: 1px solid $white-dark;

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-size: 1.5em;
    }

    hr {
      align-self: center;
      border-style: solid;
      border-color: $orange;
      margin: 1em 0;
      border-width: 2px;
      width: 15%;
      transition: all .2s;
    }

    p {
      font-family: "Lora";
    }

    &:hover {
      hr {
        width: 30%;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

#crew {
  display: flex;

  @media screen and (max-width: $screen-md-min) {
    flex-direction: column;
  }

  bc-crew-member {
    width: 33.33vw;
    
    .wrapper {
      background-size: cover;
      background-position: center;
      flex: 1;
      height: 33.33vw;
      display: flex;
      align-items: flex-end;
      text-align: center;
      justify-content: center;
      position: relative;

      &#andres {
        background-image: url("/assets/img/crew/Andres.jpg");
      }

      &#brianda {
        background-image: url("/assets/img/crew/Brianda.jpg");
      }

      &#sofia {
        background-image: url("/assets/img/crew/Sofia.jpg");
      }
    }

    @media screen and (max-width: $screen-md-min) {
      width: 100%;
      height: 100vw;
    }

    .toggle {
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 100;
      color: $white;
      height: 36px;
      width: 36px;
      background-size: contain;

      &.open {
        background-image: url('/assets/img/icons/close.svg')
      }

      &.closed {
        background-image: url('/assets/img/icons/open.svg');
      }

      img {
        height: 100%;
      }
    }

    .member {
      width: 100%;
      padding: 0 1em;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(50, 50, 50, 1));

      .name {
        font-weight: 400;
      }

      .position {
        font-style: italic;
        font-family: "Lora";
        font-weight: 600;
      }

      hr {
        width: 3em;
        border-width: 2px;
        border-color: $orange;
        margin-bottom: 1em;
        margin-top: 0;
      }
    }

    .cover {
      display: flex;
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: $trans-orange;
      align-items: center;
      justify-content: space-around;
      opacity: 0;
      transition: opacity .5s;

      @media screen and (max-width: $screen-md-min) {
        background-color: $trans-black;
      }

      &.open {
        opacity: 1;
        z-index: 100;

        .square {
          top: 20%;
          left: 20%;
          width: 60%;
          height: 60%;
          transform: rotate(45deg);
        }
      }
    }

    .square {
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%;
      position: absolute;
      border: 1px solid $white;
      box-sizing: border-box;
      transition: all .5s;
    }

    .social {
      width: 60%;
      display: flex;
      justify-content: space-around;
      z-index: 999;

      a {
        color: $white;
        transition: all .2s;

        &:hover {
          color: $white-dark;
        }
      }
    }

    &:hover {
      h1 {
        display: none;
      }
    }
  }
}
