<header id="meet-born">
  <div class="container">
    <div class="row">
      <h1>Meet born</h1>
      <bc-zigzag></bc-zigzag>
      <p>We’re a small creative studio crafting
        beautiful brands and digital experiences.
      </p>
      <bc-button scroll-to="about-steps">Come on in</bc-button>
    </div>
  </div>
</header>

<bc-centered-section id="about-steps">
  <h2 class="title">
    It’s all about the steps.
  </h2>
  <p class="description">
    The secret is in paying attention to detail.
  </p>
  <bc-zigzag></bc-zigzag>
</bc-centered-section>

<section id="steps">
  <bc-step number="1" title="Kickoff">
    This is the first encounter between your project and the team. We'll interview,
    listen closely and read between the lines, then we can determine the objectives
    and opportunities and talk about the process.
  </bc-step>
  <bc-step number="2" title="Groundwork">
    We'll dig into the books, check what's been done and what's going to be done.
    We'll work on the concept and everything that's sorrounding and involving it.
  </bc-step>
  <bc-step number="3" title="Grind">
    The magic gets to work. Wether it's a small project or a top secret gigantic
    gig, this is when we get to use our passion and tools to develop great material
    for your brand.
  </bc-step>
  <bc-step number="4" title="Delivery">
    We'll refine the final details of the project and get it ready for the public
    light and your use. Once we deliver the final material we sit down and evaluate
    the results of our work together.
  </bc-step>
</section>

<section id="mishu">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <q>We enjoy what we do and we’re not
          afraid to break the rules and do
          things a bit different once in a while.
        </q>
      </div>
      <div class="author four columns">
        <div class="name">
          Mishu
        </div>
        <div class="role">
          Lead Feline
        </div>
      </div>
    </div>
  </div>
</section>

<bc-centered-section id="we-do">
  <h2 class="title">
    And, what can we do?
  </h2>
  <p class="description">
    We think of ourselves as life hackers and
    problem solvers, but when it comes down to
    work this is what we do best.
  </p>
  <bc-zigzag></bc-zigzag>
</bc-centered-section>

<section id="activities">
  <div class="container">
    <div class="row">
      <div class="five columns">
        <h2 class="title">Branding:</h2>
        <p>We take your concept and turn it into a working brand
        that represents your values and ideas.</p>
        <div class="works">
          <ul>
            <li>Naming &amp; Identity</li>
            <li>Brand strategy</li>
            <li>Packaging &amp; Print</li>
            <li>Editorial</li>
          </ul>
        </div>
      </div>
      <div class="five columns">
        <h2 class="title">Digital Experiences:</h2>
        <p>We work hard to create an enjoyable web experience
        for your brand to stand out in the jungle.</p>
        <div class="works">
          <ul>
            <li>Web Design</li>
            <li>User Experience</li>
            <li>Digital Strategy</li>
            <li>UI design</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-images">
  <div id="recio" class="img half"></div>
  <div id="day-to-day" class="img half"></div>
  <div id="yazmin-felix" class="img"></div>
</section>

<bc-centered-section id="peter-drucker">
  <q>
    The best way to predict the future is to create it.
  </q>
  <div class="author">
    - Peter Drucker
  </div>
  <bc-zigzag></bc-zigzag>
</bc-centered-section>

<bc-centered-section class="pre-footer">
  <a class="title" ui-sref="root.team">Get to know us.</a>
</bc-centered-section>
