<header id="closer-look">
  <div class="container">
    <div class="row">
      <h1>Take a closer look</h1>
      <bc-zigzag></bc-zigzag>
      <h2>We don't bite. (Usually).
      </h2>
      <img scroll-to="creatives-group" src="/assets/img/icons/chevron-down.svg"/>
    </div>
  </div>
</header>

<bc-centered-section id="creatives-group">
  <q>
    We’re a group of creatives with the same
    mindset and objectives, and we like to have
    fun while collaborating with our clients.
  </q>
</bc-centered-section>

<bc-centered-section id="core-values">
  <div class="section-header">
    <h2 class="title">There's a special way of thinking here.</h2>
    <p class="description">(Let's call these our core values)</p>
  </div>
  <div class="values">
    <div class="value">
      <h3 class="title">Quality first</h3>
      <hr>
      <p>We aim for the best results, always.</p>
    </div>
    <div class="value">
      <h3 class="title">Enjoy &amp; learn</h3>
      <hr>
      <p>We love what we do, and we make the most out of it.</p>
    </div>
    <div class="value">
      <h3 class="title">Collaborate</h3>
      <hr>
      <p>We work with you instead of working for you.</p>
    </div>
  </div>
</bc-centered-section>

<bc-centered-section id="meet-crew">
  <h2 class="title">
    Meet the team
  </h2>
  <p class="description">
    Really, who are we?
  </p>
  <bc-zigzag></bc-zigzag>
</bc-centered-section>

<section id="crew">
  <div class="container">
    <div class="row">
      <bc-crew-member img-id="brianda" name="Brianda Maldonado"
        position="Brand &amp; UI Designer"
        dribbble="briandamddo"
        behance="briandamddo"
        instagram="briandamddo">
        Nature loving and part-time animal rescuer, Brianda is co-founder at
        Born Co. When she’s not designing the future of our clients she can be
        seen at alternative rock concerts or saving homeless cats.
      </bc-crew-member>
      <bc-crew-member img-id="andres" name="Andrés Rodríguez"
        position="Brand &amp; UI Designer"
        dribbble="andresrdz"
        behance="andresrdz"
        instagram="andreserdgz">
        Born and raised in the desert, Andrés is co-founder and coffee lover at
        Born Co. When he’s not at the studio he can usually be found making new
        coffee experiments or designing display typefaces.
      </bc-crew-member>
    </div>
  </div>
</section>

<bc-centered-section class="pre-footer">
  <a class="title" ui-sref="root.case-studies">Case studies.</a>
</bc-centered-section>
