<header id="closer-look">
  <div class="container">
    <div class="row">
      <h1>Take a closer look</h1>
      <bc-zigzag></bc-zigzag>
      <p>We don't bite. (Usually).
      </p>
      <img scroll-to="creatives-group" src="/assets/img/icons/chevron-down.svg"/>
    </div>
  </div>
</header>

<bc-centered-section id="creatives-group">
  <p>
    We’re a group of creatives with the same
    mindset and objectives, and we like to have
    fun while collaborating with our clients.
  </p>
</bc-centered-section>

<bc-centered-section id="core-values">
  <div class="section-header">
    <h2 class="title">There's a special way of thinking here.</h2>
    <p>(Let's call these our core values)</p>
  </div>
  <div class="values">
    <div class="value">
      <h3 class="title">Quality first:</h3>
      <hr>
      <p>We aim for the best results, always.</p>
    </div>
    <div class="value">
      <h3 class="title">Enjoy &amp; learn:</h3>
      <hr>
      <p>We love what we do, and we make the most out of it.</p>
    </div>
    <div class="value">
      <h3 class="title">Collaborate</h3>
      <hr>
      <p>We work with you instead of working for you.</p>
    </div>
  </div>
</bc-centered-section>

<bc-centered-section>
  <h2 class="title">
    Meet the crew
  </h2>
  <p class="description">
    Really, who are we?
  </p>
  <bc-zigzag></bc-zigzag>
</bc-centered-section>

<section id="crew">
  <bc-crew-member id="brianda" name="Brianda Maldonado"
    position="Brand &amp; UI Designer"
    dribbble="briandamddo"
    behance="briandamddo"
    instagram="briandamddo">
  </bc-crew-member>
  <bc-crew-member id="sofia" name="Sofía Chavarría"
    position="Marketing Manager"
    twitter="sofiachromo"
    behance="craftiniana"
    instagram="craftiniana">
  </bc-crew-member>
  <bc-crew-member id="andres" name="Andrés Rodríguez"
    position="Brand &amp; UI Designer"
    dribbble="andresrdz"
    twitter="_andresrdz"
    instagram="andreserdgz">

  </bc-crew-member>
</section>

<bc-centered-section class="pre-footer">
  <a class="title" ui-sref="root.case-studies">Case studies.</a>
</bc-centered-section>
